<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>test for zyado | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>DB - Test!</h1>
    
    <h2>
    	Regen!
    </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <p>
      Test for some db relations.
    </p>
  </body>
</html>